:root {
  --color-bg: #f3f3f3;
  --color-surface: #fff;
  --color-text: #000;
  --color-text-muted: #666;
  --color-amazon: #FFD463;
  --color-grey: #EFEFEF;
  --color-border-input: #d1d5db;


  --space-1: 0.25rem;  /* 4px */
  --space-2: 0.5rem;   /* 8px */
  --space-3: 0.75rem;  /* 12px */
  --space-4: 1rem;     /* 16px */
  --space-5: 1.5rem;   /* 24px */
  --space-6: 2rem;     /* 32px */
  --space-8: 3rem;     /* 48px */
  --space-10: 4rem;    /* 64px */

   /* Breakpoints for reference
     mobile:  default
     tablet:  @media (width >= 48rem)
     desktop: @media (width >= 64rem) */
}


body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
}

.wrapper {
  inline-size: min(100% - 2rem, 41.25rem);
  margin-inline: auto;
}
