.image {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  display: block;
}


/* tablet */
@media (width >= 48rem) {
  .image{
    inline-size: min(100% - 2rem, 41.25rem);
    margin: auto;
  }
}